[Unit]
Description=Bitcoind service for a node.
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/bitcoind -datadir=/home/user/.bitcoin/
ExecStop=/usr/local/bin/bitcoin-cli -datadir=/home/user/.bitcoin/ stop
PIDFile=/home/user/.bitcoin/bitcoind.pid
Restart=always
User=user

[Install]
WantedBy=multi-user.target

