[Unit]
Description=NodeUp payment monitor service
After=network.target bitcoind.service redis_6379.service
Requires=bitcoind.service nodeup-server.service redis_6379.service

[Service]
Type=simple
ExecStart=/home/user/prod/nodeup-xk-io/nodeup-server/monitor_payments.py
Restart=always
RestartSec=1s
User=user

[Install]
WantedBy=multi-user.target
