[Unit]
Description=NodeUp server service
After=network.target bitcoind.service
Requires=bitcoind.service

[Service]
Type=simple
ExecStart=/home/user/prod/nodeup-xk-io/nodeup-server/run_server.py
WorkingDirectory=/home/user/prod/nodeup-xk-io/nodeup-server/
Restart=always
RestartSec=1s
User=user

[Install]
WantedBy=multi-user.target
